
<article class="container">
  <div class="row"> 
    <div class = "col-md-12 col-sm-12 col-xs-12 about">
      <p>We have best football analysis in Kenya with 90% win rate. Our matches are analyzed from over 35 sites which guarantees win.</p>
      <p>We provide major markets such as 3 away 1,2,X; BTTS,OVER 2.5, UNDER 2.5,HT/FT, FIRST HALF RESULT/GOALS. With our tips worry no more and be guaranteed daily profits.</p>
    </div>
  </div> 
</article>