<div class="banner container-fluid">
  <h2>Why Choose Us</h2>
</div>
<article class="container">

<article class="container-fluid category">
  <div class="new-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>REAL BETS OFFERS</h4>
    We offer the following to our subscribers

At least 6 bet slips of 15 to 20 odds in total daily
At least above 80% sure Tips
Correct Score(CS), DC, BTTS(GG), HF/FT AND OV/UN 2.5 Categories.
Over 20 well analysed games daily
Sportpesa Mega Jackpot analysis
Sportpesa Mid-week Jackpot analysis
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Start winning Now</h4>
    1. On your Safaricom phone go to the M-PESA menu
2. Select Lipa Na M-PESA
3. Select Buy Goods and Services
4. Enter the Till Number 579737.
Lipa-Mpesa-Icon
5. Enter the Amount Ksh. 50 (DAILY - Tips Via SMS ONLY) OR KSH 200 For JACKPOT/MEGAJACKPOT OR Access Premium Page forKsh. 250(1 Week) OR Ksh. 600 (2 Weeks) OR Ksh. 1000 (1 month) OR Ksh. 1500 (2 Months).
5. Follow subsequent prompts to complete the transaction.
6. You will receive 2 messages; the second one will have your Username and password
7. Login to access our tips
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Daily Free Tips</h4>
    <a href=""><%= image_tag("bike3.jpg", class: "img-responsive") %></a>
  </div>
</article>

<article class="container product">
  <p>We the only online shop that gives best prices and discounts</p>
  <p>Purchase from us to enjoy this benefiits</p>
</article>

</article>
<div class="banner container-fluid">
  <h2>TODAY FREE TIPS</h2>
</div>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>